<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="cpu" class="com.mkoner.spring_framework_core.using_xml_config.Cpu">
		<property name="manufacturer" value="Intel"/>
		<property name="clockSpeed" value="2.5"/>
	</bean>
	<bean id="computer" class="com.mkoner.spring_framework_core.using_xml_config.Computer" autowire="byName">
		<property name="type" value="TABLET"/>
		<property name="model" value="ABCQY"/>
		<!-- <property name="cpu" ref="cpu"/> -->
	</bean>

</beans>